@{
    ViewData["Title"] = "Administrar Productos";
}
@model IEnumerable<Proyecto_P.Models.Producto>
<body style="background-image: url(../img/Fondo1.jpg); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #66999;">
<div class="text-center">
        <h1>Listado De Productos</h1>
        <div class="total d-flex align-items-baseline text-center" style="border-top: 2px solid black;"></div>
        <br>
    @if (Model.Count() == 0){
        <h3>No se registraron productos 😢</h3>
    }else{  
            <div>
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="col-md-5 col-xs-4"></div>
                        <div class="col-md-5 col-xs-8">
                            <form class="d-flex" method="POST">
                                <input class="form-control me-2" type="text" name="filtro" placeholder="Buscar" required>
                                <button class="btn btn-outline-info" >Buscar</button>
                            </form>
                        </div>
                    </div>
                </nav> 
            </div>
            <br>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Nombre del Producto
                            </th>
                            <th>
                                Precio por Caja
                            </th>
                            <th>
                                Precio por Producto
                            </th>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Operación
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecioPorCajas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecioPorProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proveedor)
                                </td>
                                <td class="">   
                                    <a asp-action="EditarProducto" asp-route-id="@item.Id"><span class="oi oi-pencil"></span></a>  |
                                    <a asp-action="DetalleProducto" asp-route-id="@item.Id"><i class="fas fa-file"></i></a>   |   
                                    <a asp-action="EliminarProducto" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('¿Seguro que quieres eliminar el producto?')"><i class="oi oi-trash"></i></a>
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
    }
</div>
</body>
<style>
    body{
        font-family: "Homer Simpson UI";
        background-color:#F6F3F8;
    }
</style>